.clock-icon {
    width: 40px;
    height: 40px;
  }


.tv-icon {
    width: 40x;
    height: 40px;
}


body {
  background: linear-gradient(to bottom, #e1691f, #861ba9);
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

.glow {
  font-size: 36px;
  text-shadow: 0 0 px #fff;
  animation: glow 0.5s linear infinite alternate;
}

@keyframes glow {
  from {
      text-shadow: 0 0 10px #fff;
  }
  to {
      text-shadow: 0 0 20px #fff;
  }
}



